# for prod deployments, copy to .env and replace with your credentials

# deploys contracts
DEPLOYER_MNEMONIC=change typical hire slam amateur loan grid fix drama electric seed label

# xdai rpc url
XDAI_RPC_URL='https://rpc-df.xdaichain.com/'

# give game admin rights to a different address than deployer
# ADMIN_PUBLIC_ADDRESS=0x0000000000000000000000000000000000000000
